mixin renderListIcon(data)
    li.nav-item
        i(class=`${data}`)

footer.footer 
    .footer__top
        .container 
            .row 
                .col-md-4.col-12
                    .footer__top-left
                        .footer__top__title KÊNH THÔNG TIN TỪ CHÚNG TÔI: 
                        .footer__top__icon-wrap.nav 
                            - const iconlist1 = ["fab fa-facebook-f","fab fa-twitter","fab fa-youtube","fab fa-linkedin-in"]
                                each n in iconlist1 
                                    +renderListIcon(n)
                .col-md-8.col-12
                    .footer__top-right 
                        .footer__top__text ĐĂNG KÝ NHẬN 
                            div.mobile EMAIL TỪ CHÚNG TÔI
                        .footer__top__form 
                            form(action="#")
                                    input(type="text")
                                    span.d-flex.justify-content-center.align-items-center 
                                        i.fab.fa-telegram-plane
    .footer__main
        .container 
            .row.py-5 
                .col-md-4.pr-5 
                    .footer__main__left 
                        img(src="./assets/images/greenshop1.png", alt="img footer" class="img-fluid")
                        p.footer__main__left__text Green shop được thành lập từ 8/2010 được sự tin tưởng của khách hàng trong suốt thời gian hoạt động đến nay cửa hàng ngày một phát triên
                        div.footer__main__left-phone.d-flex.align-items-center.mb-3
                            span.footer__main__left-icon.mr-3 
                                <i class="far fa-envelope"></i>
                            p.footer__main__left__text.my-0 Điện thoại:(84-4) 66.558.868
                        div.footer__main__left-email.d-flex.align-items-center
                            span.footer__main__left-icon.mr-3
                                <i class="fas fa-mobile-alt"></i>
                            p.footer__main__left__text.my-0 Email: info@dkt.com.vn
                .col-md-8.pt-4
                    .footer__main__right
                        .d-flex.justify-content-between.mobile 
                            each item in  contentFooter
                                .footer__main__right-item
                                    h4.footer__main__right-title.mb-4= item.title
                                    ul.footer__main__right-list.nav.flex-column
                                        each n in item.list
                                            li.footer__main__right-list-item.mb-2 
                                                a(href="#") 
                                                    span
                                                        i.fas.fa-chevron-right
                                                    span= n
    .footer__bottom
        .container
            .footer__bottom-wrap 
                .d-flex.justify-content-between
                    ul.nav 
                        each item in footerBottom.title 
                            li.nav-item
                                a(href="#")=item
                    ul.nav 
                        each item in footerBottom.icon 
                            li.nav-item
                                a(href="#" class="nav-item-icon")
                                    i(class=item)
    .footer__end 
        .container.text-center.py-2 Thiết kế bởi Bizwebb &copy; 
