mixin productItem(data) 
    .product-item__img 
        img(src=`${data.src}`, alt="tree img" class="img-fluid")
        .product-item__btn 
            span.btn__text Mua ngay
            span.btn__icon
                i(class="fas fa-search")
    .product-item-content
        p.product-item__name.py-2.m-0= data.name
        .product-item__evaluate
            i(class="fas fa-star text-warning")
            i(class="fas fa-star text-warning")
            i(class="fas fa-star text-warning")
            i(class="fas fa-star text-warning")
            i(class="fas fa-star-half-alt text-warning")
        .product-item__price.py-2.pb-3 
            span.product-item__price-left= data.price
            span.product-item__price-right= data.price
mixin productItemV(data)
    .product-item__img 
        img(src=`${data.src}`, alt="tree img" class="img-fluid")
    .product-item-content.text-center 
        p.product-item__name.py-2.m-0= data.name
        .product-item__evaluate
            i(class="fas fa-star text-warning")
            i(class="fas fa-star text-warning")
            i(class="fas fa-star text-warning")
            i(class="fas fa-star text-warning")
            i(class="fas fa-star-half-alt text-warning")
        .product-item__price.py-2.pb-3 
            span.product-item__price-left= data.price
            span.product-item__price-right= data.price
mixin productItemListPage(data)
    .col-md-4 
        .product-item-wrap
            .product-item__img 
                img(src=`${data.src}`, alt="tree img" class="img-fluid")
                .product-item__btn 
                    span.btn__text Mua ngay
                    span.btn__icon
                        i(class="fas fa-search")
            .product-item-content
                p.product-item__name.py-2.m-0= data.name
                .product-item__evaluate
                    i(class="fas fa-star text-warning")
                    i(class="fas fa-star text-warning")
                    i(class="fas fa-star text-warning")
                    i(class="fas fa-star text-warning")
                    i(class="fas fa-star-half-alt text-warning")
                .product-item__price.py-2.pb-3 
                    span.product-item__price-left= data.price
                    span.product-item__price-right= data.price
mixin productItemListPageHorizontal(data)
    .col-12.horizontal-product
        .product-item-wrap.d-flex
            .product-item__img 
                img(src=`${data.src}`, alt="tree img" class="img-fluid")
            .product-item-content
                p.product-item__name.mb-1= data.name
                .product-item__evaluate.mb-1
                    i(class="fas fa-star text-warning")
                    i(class="fas fa-star text-warning")
                    i(class="fas fa-star text-warning")
                    i(class="fas fa-star text-warning")
                    i(class="fas fa-star text-warning")
                p.product-item__desc.m-0.pb-2= data.desc
                .product-item__price.pb-2 
                    span.product-item__price-left= data.price
                .product-item__btn.d-flex.align-items-center
                    .btn--buy.mr-3 
                        span Mua ngay
                    .btn--search.mr-3 
                        span
                            i(class="fas fa-search")
                    .btn--favourite.mr-3 
                        span
                            i(class="fas fa-heart")